<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ManagePasswordHash" value="100000.cnz9fSZHe5mCBO3GzL0cag==.p1hRV43YwAlBlAwnlMXFkRGLAMhIkQwydTUrvSCRfeI=" />
		<add key="CheckoutPasswordHash" value="100000.5K1+2P/SvBrbhoRl04jBwg==.rV5S3C04+n4H9q6pIvXwiQZyxOQYsYtBqrEEitK+1gI=" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>